html, body,  p, table, pre, td, tr, th, ol, h1, h2, h3, h4, h5, h6, fieldset, blockquote, iframe { 

}
img {
	border: 0px;
	border: none;
}
a:link {
	color: #f42d61;
	text-decoration: underline;
}
a:hover {
	color: #FF8083;
	text-decoration: none;
}
a:visited {
	color: #f42d61;
	text-decoration: underline;
}

td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}
body {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	background-color: #FFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
h1 {
	font-size: 21px;
	color: #FF5580;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	display: inline;
	}
h2 {
	font-size: 19px;
	text-decoration:none;
	color: #FF5580;
	font-style: normal;
	font-family: Calibri, "Trebuchet MS";
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
h3 {
	font-size: 18px;
	text-decoration:none;
	color: #FF5580;
	font-style: normal;
	font-weight: bold;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
}
.txtcroshki {
	font-size: 21px;
	color: #FF5580;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	display: inline;
	}
.main_rast {
	background-image: url(/img/main/rast.gif);
	background-repeat: repeat-x;
	background-position: left center;
}
.main_menu {
	color: #FFF;
	font-size: 13px;
	display: inline;
	padding: 0px;
	margin-top: 0px;
	margin-right: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.main_menu a:link {
	color: #FFF;
	text-decoration: underline;
}
.main_menu a:hover {
	color: #FBE8AE;
	text-decoration: underline;
}
.main_menu a:visited {
	color: #FFF;
	text-decoration: underline;
}
.teltop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #f32b5f;
}
.teltop2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #f97093;
}
.teltxt {
	font-size: 12px;
	color: #A29D9F;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 5px;
}
.bg {
	background-image: url(/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: 55% 0%;
}
.sear_rast {
	background-image: url(/img/sear_rast.gif);
	background-repeat: repeat-x;
	background-position: center center;
	height: 25px;
	width: 100%;
	border: 0px;
	border-style: none;
	margin: 0px;
	padding: 0px;
	color: #81787A;
}
.otziv_rast {
	height: 18px;
	width: 273px;
	border: 4px solid #FFF;
	padding: 0px;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.otziv_rast_big{
	height: 60px;
	width: 567px;
	border: 4px solid #FFF;
	margin: 0px;
	padding: 0px;
	color: #81787A;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.ulmain {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: -10px;
	margin-left: 0px;
}
.txt_zakaz {
	font-size: 16px;
	font-family: Calibri, "Trebuchet MS";
}
.txt_zaksm {
	font-size: 12px;
	color: #A29D9F;
	font-weight: bold;
	margin-top: 2px;
	margin-left: 7px;
}
.bgkakkupit {
	background-image: url(/img/banner-pay.jpg);
	background-position: center center;
	height: 88px;
	width: 183px;
	text-decoration: underline;
}
.txt_banner {
	color: #FFF;
	font-size: 13px;
	text-decoration: underline;
}
.txt_banner a:link {
	color: #FFF;
	text-decoration: underline;
}
.txt_banner a:hover {
	color: #FCEEC2;
	text-decoration: none;
}
.txt_banner a:visited {
	color: #FFF;
	text-decoration: underline;
}
.bgbest {
	background-image: url(/img/banner-best.jpg);
	background-position: center center;
	height: 88px;
	width: 217px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.bgbestsm {
	background-image: url(/img/banner-bestsm.jpg);
	background-position: center center;
	height: 76px;
	width: 180px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.bgsezon {
	background-image: url(/img/banner-sezon.jpg);
	background-position: center center;
	height: 88px;
	width: 182px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.bgotziv {
	background-image: url(/img/banner-otziv.jpg);
	background-position: center center;
	height: 64px;
	width: 226px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.oglrast {
	background-color: #F9C500;
	background-image: url(/img/oglrast.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	font-size: 17px;
	color: #FFF;
	font-family: Calibri, "Trebuchet MS";
	text-decoration: none;
	font-weight: normal;
}
.oglrast a:link {
	color: #FFF;
	text-decoration: underline;
}
.oglrast a:hover {
	color: #FCEEC2;
	text-decoration: none;
}
.oglrast a:visited {
	color: #FFF;
	text-decoration: underline;
}
.divkat {
	display: inline-block;
	width: 116px;
	margin-bottom: 20px;
	margin-left: 20px;
	vertical-align: top;
}
*+html .divkat {
	vertical-align: top;
	display: inline;
	zoom: 1;
}
.divpodkat {
	display: inline-block;
	width: 90px;
	margin-bottom: 15px;
	margin-left: 12px;
	font-size: 12px;
	line-height: 15px;
	vertical-align: top;
}
*+html .divpodkat {
	vertical-align: top;
	display: inline;
	zoom: 1;
}
.divkatlist {
	margin-bottom:90px;
	margin-left:20px;
	width:200px;
	display: inline-block;
	vertical-align: bottom;
}
*+html .divkatlist {
	display: inline;
	zoom: 1;
}
.txtprice {
	font-size: 18px;
	color: #FC567B;
	background-image: url(/img/pr_rast.png);
	background-repeat: repeat-x;
	background-position: center center;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.txtpricesr {
	font-size: 20px;
	color: #FC567B;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.txtpricez {
	font-size: 20px;
	color: #989496;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: line-through;
}
.txtzakser {
	font-size: 18px;
	color: #989496;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.divkatlisttxt {
	z-index:0;
	width:205px;
	font-size: 12px;
	line-height: 15px;
	padding-left:5px;
	position: absolute;
	padding-bottom: 3px;
	padding-top: 2px;
	text-decoration: underline;
	cursor: pointer;
}
.bgbottom {
	background-image: url(/img/rastbottom.jpg);
	background-repeat: repeat-x;
	background-position: right center;
}
.bg_bottomleft {
	background-image: url(/img/bottomright.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.txt_bottom {
	background-color: rgba(255,255,255,0.6);
	color: #626262;
	margin: 0px;
	padding: 3px;
}

.txt_otziv {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 15px;
	margin-left: 5px;
}
.txt_otziv2 {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-top: 20px;
}
.txt_otziv3 {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 25px;
	margin-left: 35px;
	margin-top: -15px;
}
.txt_otzivname {
	font-size: 12px;
	line-height: 16px;
	color: #F97093;
	font-weight: bold;
}
.txt_otzivname2 {
	font-size: 13px;
	line-height: 16px;
	color: #F97093;
	font-weight: bold;
}
.txt_otzivdate {
	font-size: 10px;
	line-height: 16px;
	color: #A29D9F;
	font-weight: bold;
}
.limain {
	display: inline-block;
	background-image: url(/img/li.png);
	background-position: 0px 7px;
	background-repeat: no-repeat;
	padding-left: 8px;
	margin-left: 5px;
	margin-bottom: 5px;
}
*+html .limain {
	display: inline;
	zoom: 1;
}
.lirazm {
	display: inline-block;
	background-image: url(/img/li.png);
	background-position: 0px 8px;
	background-repeat: no-repeat;
	padding-left: 9px;
	margin-left: 7px;
	margin-bottom: 5px;
	color: #979193;
	font-size: 15px;
}
*+html .lirazm {
	display: inline;
	zoom: 1;
}
.lmainrast {
	background-image: url(/img/mainrast.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.txt_sort {
	font-size: 13px;
	color: #A29D9F;
	font-weight: bold;
}
.txtzagpar {
	font-family: Calibri, "Trebuchet MS";
	font-size: 19px;
	color: #989294;
	margin-bottom: 20px;
	margin-top: 2px;
	margin-left: -2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffdf5b;
	padding-bottom: 15px;
}
.prinput {
	font-size: 12px;
	height: 20px;
	width: 51px;
	padding-right: 2px;
	padding-left: 4px;
	border-width: 0px;
	border-style: none;
	background-image: url(/img/priceform.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #918A8C;
}
.divrazmer {
	display: inline;
	margin-right: 8px;
	margin-bottom: 8px;
	font-size: 13px;
	color: #8F898B;
	height: 17px;
}
*+html .divrazmer {
	display: inline;
	zoom: 1;
}
.divstrvn {
	color: #F42D61;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	font-size: 15px;
	text-decoration: none;
	border: 1px solid #FBA8BD;
}
.divstrvns {
	color: #A29D9F;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	font-size: 15px;
	text-decoration: none;
	border: 1px solid #D1D1D1;
}
.divstr {
	display: inline-block;
	margin-right: 3px;
}
*+html .divstr {
	display: inline;
	zoom: 1;
}
.txt_srazm {
	font-size: 17px;
	color: #989294;
	font-family: Calibri, "Trebuchet MS";
	font-weight: normal;
}
.divsbros {
	margin-top: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFDD58;
}
.bgskidka {
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	background-image: url(/img/skidka.png);
	height: 20px;
	width: 43px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
}
.imglist {
	margin-top: -80px;
	margin-right: 15px;
}
.divkatlisttabl {
	height: 27px;
	margin-top: -30px;
	margin-left: 5px;
	position: absolute;
	z-index: 3;
}
.txtnewbig {
	font-size: 21px;
	color: #ffbc0f;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	display: inline;
	font-weight: bold;
}
.txtskidkibig {
	font-size: 20px;
	color: #FF5584;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	font-weight: bold;
}
.txtpricebig {
	font-size: 22px;
	color: #FC567B;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.txtrub {
	color: #A29D9F;
	font-size: 14px;
	font-weight: bold;
}
.txt_vgd {
	font-size: 13px;
	color: #FF5584;
	font-weight: bold;
}
.imgcatm {
	/*display: inline-block;*/
	margin-right: 7px;
	margin-bottom: 8px;
	/*width: 70px;*/
}
*+html .imgcatm {
	display: inline;
	zoom: 1;
}

.divptov {
	margin-top:100px;
	margin-bottom:40px;
	margin-right:20px;
	width:130px;
	display: inline-block;
	vertical-align: bottom;
}
*+html .divptov {
	display: inline;
	zoom: 1;
}
.divptovtxt {
	z-index:0;
	width:130px;
	font-size: 12px;
	line-height: 15px;
	padding-left:5px;
	position: absolute;
	padding-bottom: 3px;
	padding-top: 2px;
	text-decoration: underline;
	cursor: pointer;
}
.bordotziv {
	border: 1px solid #FECE39;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #FECE39;
}
.bordotziv2 {
	border: 12px solid #FECE39;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #FECE39;
}
.bordotziv3 {
	border: 2px solid #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFF;
}

.bordpayzak {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffdf5b;
	margin-bottom: 15px;
}
.kolvoinput {
	font-size: 13px;
	height: 20px;
	width: 57px;
	padding-right: 0px;
	padding-left: 0px;
	border-width: 0px;
	border-style: none;
	background-image: url(/img/priceform.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #918A8C;
	text-align: center;
}
.txtkorzbold {
	font-family: Calibri, "Trebuchet MS";
	font-size: 19px;
	color: #989294;
}
.txtdost {
	color: #A29D9F;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
.txtdost span {
	font-weight: normal;
	font-size: 14px;
}
.dost_rast {
	height: 18px;
	width: 273px;
	border: 2px solid #FECE39;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.dost_rastbig {
	height: 80px;
	width: 273px;
	border: 2px solid #FECE39;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.txtdivzak {
	color: #A29D9F;
	font-size: 12px;
	font-style: italic;
	margin-top: 3px;
}

#delete-confirm {
	font-size: 16px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 5;
	text-align: center;
}
#delete-confirm .wrapper-outer {
	background: #FECE39;
	border-radius: 5px;
	margin: -50% 0 0 -50%;
	border: 1px solid #FECE39;
}
#delete-confirm .wrapper-inner {
	background: #fff;
	border-radius: 5px;
	margin: 5px;
	padding: 10px 15px;
}
#delete-confirm input {
	border: 1px solid #eca900;
	background: #FECE39;
	color: #fff;
	padding: 2px 5px;
	cursor: pointer;
}
#delete-confirm .name {
	font-weight: bold;
}
.cl {
	clear: both;
	height: 0;
	font-size: 1px;
}
.b {
	border: 1px solid red;
}