@font-face {
    font-family: 'ptsansregular';
    src: url('../fonts/ptsansregular.eot');
    src: url('../fonts/ptsansregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsansregular.woff') format('woff'),
         url('../fonts/ptsansregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ptsansbold';
    src: url('../fonts/ptsansbold.eot');
    src: url('../fonts/ptsansbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsansbold.woff') format('woff'),
         url('../fonts/ptsansbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadproboldcond';
    src: url('../fonts/myriadproboldcond.eot');
    src: url('../fonts/myriadproboldcond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadproboldcond.woff') format('woff'),
         url('../fonts/myriadproboldcond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadprocond';
    src: url('../fonts/myriadprocond.eot');
    src: url('../fonts/myriadprocond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadprocond.woff') format('woff'),
         url('../fonts/myriadprocond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
