.menuHolder .menuBtn{
	display: inline-block;
	width: 110px;
	height: 110px;
	float: left;
	margin: 10px;
	position: relative;
}
.menuHolder .menuBtn .menuBtnContent{
	-webkit-animation-iteration-count: infinite;
}
.menuHolder .menuBtnImg {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.menuHolder .menuBtnImg img{
	height:100%;
}
.menuHolder .menuBtn .menuBtnText {
	height: 50px;
	text-align: center;
	word-wrap: break-word;
}
.menuHolder .menuBtn .menuBtnText a{
	color: #000;
}
.menuHolder .menuBtn .menuDelBtn{
	position: absolute;
	right: 0;
	top: -10px;
	display:none;
	z-index: 3;
	cursor: pointer;
}
.menuHolder .newMenuBtn{
	display: none;
	width: 110px;
	height: 110px;
	float: left;
	margin: 10px;
	position: relative;
	cursor: pointer;
}
.menuHolder .newMenuBtnImg {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	border: dashed 1px black;
}
.menuHolder .newMenuBtnImg img{
	height:100%;
}
.menuHolder .newMenuBtn .newMenuBtnText {
	height: 50px;
	text-align: center;
	word-wrap: break-word;
}
.menuHolder .newMenuBtn .newMenuDelBtn{
	position: absolute;
	right: 0;
	top: -10px;
	display:none;
	z-index: 3;
	cursor: pointer;
}

.menuHolder .newMenuBtn:hover{
	background:rgb(213, 213, 213);
}
.menuHolder .separ1{
	width:128px;
}
.menuHolder .separ2{
	width:78px;
}
.menuHolder .separ3{
	width:38px;
}
.menuHolder .allSepar{
	float:left;
	position: relative;
	display:inline-block;
	height: 108px;
	margin: 10px;
	border: solid 1px white;
}
.menuHolder .bordered{
	border: dashed 1px black;
	border-radius: 5px;
	cursor: pointer;
}
.menuHolder .allSepar .menuDelBtn{
	position: absolute;
	right: 0;
	top: -10px;
	display:none;
	z-index: 3;
	cursor: pointer;
}
.menuCreateBack{
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.84);
	top:0;
	left:0;
	display:none;
	z-index:5;
}
.menuCreateHolder{
	position: fixed;
	height: 400px;
	width: 600px;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	background: #fff;
	display:none;
	z-index:6;
	border-radius: 5px;
	text-align:center;
	font-size: 17pt;
}
.menuCreateHolder .selectBtn {
width: 250px;
height: 35px;
display: inline-block;
margin-top: 50px;
border: solid 1px black;
border-radius: 3px;
cursor:pointer;
padding-top: 15px;
}
.menuCreateHolder .selectBtn:first-child:hover{
	background: rgb(152, 166, 209);
}
.menuCreateHolder .selectBtn:nth-child(2):hover{
	background: rgb(214, 136, 136);
}
.menuCreateHolder .createArea .createBtn {
	margin-top: 50px;
	height: 200px;
	display:none;
}
.menuCreateHolder .createArea .createSeparator{
	margin-top: 50px;
	height: 200px;
	text-align:center;
	display:none;
}
.menuCreateHolder .createArea .createSeparator .separator{
display: inline-block;
height: 130px;
width: 130px;
cursor: pointer;
border-radius: 3px;
border: solid 1px #fff;
}
.menuCreateHolder .createArea .createSeparator .separator:hover{
border: solid 1px rgb(196, 196, 196);
}
.menuCreateHolder .createArea .createSeparator .separator .separType1 {
width: 110px;
height: 110px;
margin: 10px;
background: rgb(185, 185, 185);
display: inline-block;
}
.menuCreateHolder .createArea .createSeparator .separator .separType2 {
width: 80px;
height: 110px;
margin: 10px;
background: rgb(185, 185, 185);
display: inline-block;
}
.menuCreateHolder .createArea .createSeparator .separator .separType3 {
width: 40px;
height: 110px;
margin: 10px;
background: rgb(185, 185, 185);
display: inline-block;
}

		.fir{
			-webkit-animation-duration: 0.8s;
			-webkit-animation-delay: 0.2s;
			-ms-animation-duration: 0.8s;
			-ms-animation-delay: 0.2s;
			animation-duration: 0.8s;
			animation-delay: 0.2s;
		}
		.sec{
			-webkit-animation-duration: 0.7s;
			-webkit-animation-delay: 0s;
			-ms-animation-duration: 0.7s;
			-ms-animation-delay: 0s;
			animation-duration: 0.7s;
			animation-delay: 0s;
		}
		.thr{
			-webkit-animation-duration: 0.65s;
			-webkit-animation-delay: 0.1s;
			-ms-animation-duration: 0.65s;
			-ms-animation-delay: 0.1s;
			animation-duration: 0.65s;
			animation-delay: 0.1s;
		}