@media only screen and (max-width: 958px) {
    /*.slider,
    .top-image {
        margin-left: 0;
        left: -328px;
    }*/
    .content {
        margin-left:0;
        left: -19px;
    }
    .content.feedbacks,
    .content.like,
    .content.pay,
    .content.compare,
    .wrapper2,
    .content.tile
     {
        left:0px;
        margin-left:0;
    }
    
}
@media only screen and (max-width: 985px) {
    .footer-content {
        margin-left: 0;
        left: -10px;
    }
}