/* EXAMPLE 1 */
#popupLink:active {
	target: popup;
	target-width: 800px;
	target-height: 250px;
}


.myLayer {
	width: 847px;
	height: 700px;
	background: url(shadow-background.png) no-repeat left top;
}
 
.closeLink {
	height: 19px;
	padding-right: 27px;
	text-align: right;
}
 
.closeLink a {
	padding: 1px 5px;
	background-color: red;
	text-decoration: none;
	font-weight: bold;
	color: white;
}
 
.contentDIV {
	margin-left: 20px;
}
#just_a_table td:hover {
	style: "backgroundColor: #D9E8EA, color: black";
}
 
#just_a_table td:leave {
	style: "backgroundColor: white, color: black";
}#just_a_table td {
	border: 1px dotted gray;
}

#just_a_table2 tr:hover {
	style: "backgroundColor: #D9E8EA, color: black";
}
 
#just_a_table2 tr:leave {
	style: "backgroundColor: white, color: black";
}#just_a_table2 tr {
	border: 1px dotted gray;
}

/* EXAMPLE 1 */
#popupLink:active {
	target: popup;
	target-width: 800px;
	target-height: 600px;
}
 
/* EXAMPLE 2 */
#layerLink:active {
	target: layer;
	target-width: 800px;
	target-height: 580px;
	target-position: center 50px;
	target-class: myLayer;
	target-close: "X CLOSE";
	target-template: '<div class="closeLink">%close</div> <div class="contentDIV">%iframe</div>';
}
.myLayer {
	width: 847px;
	height: 700px;
	background: url(shadow-background.png) no-repeat left top;
}
 
.closeLink {
	height: 19px;
	padding-right: 27px;
	text-align: right;
}
 
.closeLink a {
	padding: 1px 5px;
	background-color: red;
	text-decoration: none;
	font-weight: bold;
	color: white;
}
 
.contentDIV {
	margin-left: 20px;
}