body {margin:25px; font:12px Arial, Helvetica, sans-serif}
.floatleft {float:left; padding-right:5px}
.ddheader {width:180px; border:2px solid #9ac1c9; padding:8px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(images/header.gif)}
.ddheader:hover {background:url(images/header_over.gif)}
.ddcontent {position:absolute; overflow:hidden; width:258px; display:none; background:#fff; z-index:200}
.ddinner {width:254px; border:2px solid #9ac1c9; border-top:none}
.ddinner ul {display:block; list-style:none; margin:0; padding:0; background:#eaf0f2}
.ddinner li {margin:0; padding:5px; cursor:pointer}
.ddinner li:hover {background:#d9e1e4}
.underline {border-bottom:1px solid #b9d6dc}