.ol a:link {
	color: #f42d61;
	text-decoration: underline;
}
.ol a:hover {
	color: #ff8083;
	text-decoration: none;
}
.ol a:visited {
	color: #f42d61;
	text-decoration: underline;
}
.a-style {
	color: #f42d61;
}
.ol a:link.blue, .ol a:visited.blue {
	color: #0088cc;
}
.ol a:link.white, .ol a:visited.white {
	color: #fff;
}
.ol h1 {
	font-size: 21px;
	color: #FF5580;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	display: inline;
	}
.ol h2 {
	font-size: 19px;
	text-decoration:none;
	color: #FF5580;
	font-style: normal;
	font-family: Calibri, "Trebuchet MS";
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.ol h3 {
	font-size: 18px;
	text-decoration:none;
	color: #FF5580;
	font-style: normal;
	font-weight: bold;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
}
.txtcroshki {
	font-size: 21px;
	color: #FF5580;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	display: inline;
	}
.main_rast {
	background-image: url(/img/main/rast.gif);
	background-repeat: repeat-x;
	background-position: left center;
}
.main_menu {
	color: #FFF;
	font-size: 13px;
	display: inline;
	padding: 0px;
	margin-top: 0px;
	margin-right: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.main_menu a:link {
	color: #FFF;
	text-decoration: underline;
}
.main_menu a:hover {
	color: #FBE8AE;
	text-decoration: underline;
}
.main_menu a:visited {
	color: #FFF;
	text-decoration: underline;
}
.teltop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #f32b5f;
}
.teltop2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #f97093;
}
.teltxt {
	font-size: 12px;
	color: #A29D9F;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 5px;
}
.bg {
	background-image: url(/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: 55% 0%;
}
.sear_rast {
	background-image: url(/img/sear_rast.gif);
	background-repeat: repeat-x;
	background-position: center center;
	height: 25px;
	width: 100%;
	border: 0px;
	border-style: none;
	margin: 0px;
	padding: 0px;
	color: #81787A;
}
.otziv_rast {
	height: 18px;
	width: 273px;
	border: 4px solid #FFF;
	padding: 0px;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.otziv_rast_big{
	height: 60px;
	width: 567px;
	border: 4px solid #FFF;
	margin: 0px;
	padding: 0px;
	color: #81787A;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.ulmain {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: -10px;
	margin-left: 0px;
}
.txt_zakaz {
	font-size: 16px;
	font-family: Calibri, "Trebuchet MS";
}
.txt_zaksm {
	font-size: 12px;
	color: #A29D9F;
	font-weight: bold;
	margin-top: 2px;
	margin-left: 7px;
}
.bgkakkupit {
	background-image: url(/img/banner-pay.jpg);
	background-position: center center;
	height: 88px;
	width: 183px;
	text-decoration: underline;
}
.txt_banner {
	color: #FFF;
	font-size: 13px;
}
.bgbest {
	background-image: url(/img/banner-best.jpg);
	background-position: center center;
	height: 88px;
	width: 217px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.bgbestsm {
	background-image: url(/img/banner-bestsm.jpg);
	background-position: center center;
	height: 76px;
	width: 180px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.bgsezon {
	background-image: url(/img/banner-sezon.jpg);
	background-position: center center;
	height: 88px;
	width: 182px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.bgotziv {
	background-image: url(/img/banner-otziv.jpg);
	background-position: center center;
	height: 64px;
	width: 226px;
	text-decoration: underline;
	background-repeat: no-repeat;
}
.oglrast {
	background-color: #F9C500;
	background-image: url(/img/oglrast.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	font-size: 17px;
	color: #FFF;
	font-family: Calibri, "Trebuchet MS";
	text-decoration: none;
	font-weight: normal;
}
.oglrast a:link {
	color: #FFF;
	text-decoration: underline;
}
.oglrast a:hover {
	color: #FCEEC2;
	text-decoration: none;
}
.oglrast a:visited {
	color: #FFF;
	text-decoration: underline;
}
.divkat {
	display: inline-block;
	width: 145px;
	margin-bottom: 20px;
	margin-left: 25px;
	vertical-align: top;
}
*+html .divkat {
	vertical-align: top;
	display: inline;
	zoom: 1;
}
.divpodkat {
	display: inline-block;
	width: 90px;
	margin-bottom: 15px;
	margin-left: 12px;
	font-size: 12px;
	line-height: 15px;
	vertical-align: top;
}
*+html .divpodkat {
	vertical-align: top;
	display: inline;
	zoom: 1;
}
.divkatlist {
	margin-bottom:90px;
	margin-left:20px;
	width:230px;
	display: inline-block;
	vertical-align: bottom;
}
*+html .divkatlist {
	display: inline;
	zoom: 1;
}
.txttable {
	font-size: 18px;
	color: #FC567B;
	background-image: url(/img/pr_rast.png);
	background-repeat: repeat-x;
	background-position: center center;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 0px;
	border-style: none;
	height: 25px;
	width: 100%;
	text-align: right;
	margin: 0;
	padding: 1px;
	border-radius: 0;
}
.txtprice {
	font-size: 18px;
	color: #FC567B;
	background-image: url(/img/pr_rast.png);
	background-repeat: repeat-x;
	background-position: center center;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.txtpricesr {
	font-size: 20px;
	color: #FC567B;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.txtpricez {
	font-size: 20px;
	color: #989496;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: line-through;
}
.txtzakser {
	font-size: 16px;
	color: #989496;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-image: url(/img/li.gif);
	background-repeat: no-repeat;
	background-position: 0px 9px;
	margin-left: 5px;
	padding-left: 11px;
	margin-bottom: 10px;
}
.divkatlisttxt {
	z-index:0;
	width:205px;
	font-size: 12px;
	line-height: 15px;
	padding-left:5px;
	position: absolute;
	padding-bottom: 3px;
	padding-top: 2px;
	text-decoration: underline;
	cursor: pointer;
}
.bgbottom {
	background-image: url(/img/rastbottom.jpg);
	background-repeat: repeat-x;
	background-position: right center;
}
.bg_bottomleft {
	background-image: url(/img/bottomright.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.txt_bottom {
	background-color: rgba(255,255,255,0.6);
	color: #626262;
	margin: 0px;
	padding: 3px;
}

.txt_otziv {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 15px;
	margin-left: 5px;
}
.txt_otziv2 {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-top: 20px;
}
.txt_otziv3 {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 25px;
	margin-left: 35px;
	margin-top: -15px;
}
.txt_otzivname {
	font-size: 12px;
	line-height: 16px;
	color: #F97093;
	font-weight: bold;
}
.txt_otzivname2 {
	font-size: 13px;
	line-height: 16px;
	color: #F97093;
	font-weight: bold;
}
.txt_otzivdate {
	font-size: 10px;
	line-height: 16px;
	color: #A29D9F;
	font-weight: bold;
}
.limain {
	background-image: url(/img/li.png);
	background-position: 0px 7px;
	background-repeat: no-repeat;
	padding-left: 8px;
	margin-left: 5px;
	margin-bottom: 5px;
}
.limain2 {
	background-image: url(/img/li.png);
	background-position: 0px 7px;
	background-repeat: no-repeat;
	padding-left: 8px;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
*+html .limain2 {
	display: inline;
	zoom: 1;
}
.limain2 a:link {
	color: #a8a3a3;
	text-decoration: underline;
}
.limain2 a:hover {
	color: #a8a3a3;
	text-decoration: none;
}
.limain2 a:visited {
	color: #a8a3a3;
	text-decoration: underline;
}
.limain3 {
	background-image: url(/img/li.png);
	background-position: 0px 7px;
	background-repeat: no-repeat;
	padding-left: 8px;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
.lirazm {
	display: inline-block;
	background-image: url(/img/li.png);
	background-position: 0px 8px;
	background-repeat: no-repeat;
	padding-left: 9px;
	margin-left: 7px;
	margin-bottom: 5px;
	color: #979193;
	font-size: 15px;
}
*+html .lirazm {
	display: inline;
	zoom: 1;
}
.lmainrast {
	background-image: url(/img/mainrast.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.txt_sort {
	font-size: 13px;
	color: #A29D9F;
	font-weight: bold;
}
.txtzagpar {
	font-family: Calibri, "Trebuchet MS";
	font-size: 19px;
	color: #989294;
	margin-bottom: 20px;
	margin-top: 2px;
	margin-left: -2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffdf5b;
	padding-bottom: 15px;
}
.prinput {
	font-size: 12px;
	height: 20px;
	width: 51px;
	padding-right: 2px;
	padding-left: 4px;
	border-width: 0px;
	border-style: none;
	background-image: url(/img/priceform.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #918A8C;
}
.divrazmer {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
	font-size: 13px;
	color: #8F898B;
	height: 17px;
}
*+html .divrazmer {
	display: inline;
	zoom: 1;
}
.divstrvn {
	color: #F42D61;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	font-size: 15px;
	text-decoration: none;
	border: 1px solid #FBA8BD;
}
.divstrvns {
	color: #A29D9F;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	font-size: 15px;
	text-decoration: none;
	border: 1px solid #D1D1D1;
}
.divstr {
	display: inline-block;
	margin-right: 3px;
}
*+html .divstr {
	display: inline;
	zoom: 1;
}
.txt_srazm {
	font-size: 17px;
	color: #989294;
	font-family: Calibri, "Trebuchet MS";
	font-weight: normal;
}
.divsbros {
	margin-top: 12px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFDD58;
}
.bgskidka {
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	background-image: url(/img/skidka.png);
	height: 20px;
	width: 43px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
}
.imglist {
	margin-top: -30px;
}
.imgzn {
	padding: 2px;
}
.divkatlisttabl {
	height: 27px;
	margin-top: -30px;
	margin-left: 5px;
	position: absolute;
	z-index: 3;
	width: 170px;
}
.txtnewbig {
	font-size: 21px;
	color: #ffbc0f;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	display: inline;
	font-weight: bold;
}
.art {
	font-size: 16px;
	color: #FF5584;
	font-family: Calibri, "Trebuchet MS";
	padding-right: 6px;
	padding-left: 6px;
	margin: 0px;
	font-style: normal;
	font-weight: bold;
	background-color: rgba(255,255,255,0.8);
	border: 0px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	height: 22px;
	width: 100%;
	line-height: normal;
}
.txtpricebig {
	font-size: 22px;
	color: #FC567B;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border:1px solid #f6bf00;
	width: 80px;
	text-align: right;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	padding-right: 10px;
	padding-left: 10px;
}
.txtpricesmf {
	font-size: 18px;
	color: #FC567B;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border:1px solid #f6bf00;
	width: 17px;
	height:22px;
	text-align: right;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	padding-right: 10px;
	padding-left: 10px;
}
.txtpricesmfr {
	font-size: 18px;
	color: #FC567B;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border:1px solid #f6bf00;
	width: 57px;
	height:22px;
	text-align: right;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	padding-right: 10px;
	padding-left: 10px;
}
.txtpriceart {
	font-size: 18px;
	color: #FC567B;
	font-style: italic;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border:1px solid #f6bf00;
	width: 57px;
	height:22px;
	text-align: right;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	padding-right: 10px;
	padding-left: 10px;
}
.txtrub {
	color: #A29D9F;
	font-size: 14px;
	font-weight: bold;
}
.txtskidksm {
	font-size: 20px;
	color: #FF5584;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-style: italic;
	font-weight: bold;
}
.txtbname {
	font-size: 20px;
	color: #FF5584;
	font-family: Calibri, "Trebuchet MS";
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
.txt_vgd {
	font-size: 13px;
	color: #FF5584;
	font-weight: bold;
}
.imgcatm {
	display: inline-block;
	margin-right: 37px;
	margin-bottom: 8px;
	/*width: 170px;*/
}
*+html .imgcatm {
	display: inline;
	zoom: 1;
}
.imgcatdel {
	margin-bottom:-50px;
	margin-right:-25px;
	position:relative;
	z-index:3;
	text-align: right;
}

.divptov {
	margin-top:100px;
	margin-bottom:40px;
	margin-right:20px;
	width:130px;
	display: inline-block;
	vertical-align: bottom;
}
*+html .divptov {
	display: inline;
	zoom: 1;
}
.divptovtxt {
	z-index:0;
	width:130px;
	font-size: 12px;
	line-height: 15px;
	padding-left:5px;
	position: absolute;
	padding-bottom: 3px;
	padding-top: 2px;
	text-decoration: underline;
	cursor: pointer;
}
.bordotziv {
	border: 1px solid #FECE39;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #FECE39;
}
.bordotziv2 {
	border: 7px solid #FECE39;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FECE39;
	border-collapse: separate;
}
.bordotziv3 {
	border: 2px solid #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	padding:10px;
}

.bordpayzak {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffdf5b;
	margin-bottom: 15px;
}
.kolvoinput {
	font-size: 13px;
	height: 20px;
	width: 57px;
	padding-right: 0px;
	padding-left: 0px;
	border-width: 0px;
	border-style: none;
	background-image: url(/img/priceform.gif);
	background-repeat: no-repeat;
	background-position: left center;
	color: #918A8C;
	text-align: center;
}
.txtkorzbold {
	font-family: Calibri, "Trebuchet MS";
	font-size: 19px;
	color: #989294;
}
.txtdost {
	color: #A29D9F;
	font-size: 15px;
	font-weight: bold;
}
.p_cat {
	width: 360px;
	border: 2px solid #FECE39;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.p_title {
	height: 17px;
	width: 250px;
	border: 1px solid #FECE39;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.p_name {
	height: 18px;
	width: 350px;
	border: 2px solid #FECE39;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.dost_rastbig {
	height: 80px;
	width: 273px;
	border: 2px solid #FECE39;
	color: #81787A;
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	border-radius: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.txtdivzak {
	color: #A29D9F;
	font-size: 12px;
	font-style: italic;
	margin-top: 3px;
}

.fonokno {
	background-color: rgba(255,255,255,0.3);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 7;
}
.okno {
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	border: 4px solid #fece39;
	background-color: #fff;
	padding: 10px;
	width: 100%;
}
.cl {
	clear: both;
	font-size: 1px;
	height: 0;
}
.ok {
	color: green;
}
.error {
	color: red;
}
.mcat-li-style {
	background-image: url(/img/li.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding-left: 11px;
	margin: 5px 0;
}
.mcat-li-style-on {
	background-image: url(/img/status_on.png);
	background-position: -3px 2px;
	padding-left: 13px;
}
.mcat-li-style-off {
	background-image: url(/img/status_off.png);
	background-position: -3px 2px;
	padding-left: 13px;
}
.mcat-li-style img {vertical-align: middle;}
/* qq uploader */
#catalog-main-image-upload  form, #catalog-main-image-upload  input,
#catalog-extra-image-upload  form, #catalog-extra-image-upload  input {
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	margin: 0;
	padding: 0;
}
.cat-items {
	float: left;
	width: 100%;
	min-height: 70px;
}
.cat-items .cat-item ,
#all-cats-list .cat-item {
	text-align: center;
	width: 120px;
	height: 120px;
	border: 1px solid #ddd;
	float: left;
	margin: 5px;
	padding: 5px 2px;
}
.menu-editor .menu-item {
	clear: both;
	margin: 10px 0;
	background: #fcfcfc;
	border: 1px dashed #ccc;
	padding: 5px;
}
.menu-editor .menu-item  .cat-item,
#all-cats-list .cat-item {
	background: #fff;
	border-radius: 5px;
}
.menu-editor .menu-item  .cat-item .separator,
#all-cats-list .cat-item .separator {
	margin: 0 auto;
	width: 2px;
	height: 80px;
	background: #ccc;
}

#all-cats-list .counter-style {
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #FECE39; 
	border: 1px solid #FECE39;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}
#menu-items .menu-item .counter {
	display: none;
}

#tags-field {
	margin-left: 20px;
}
#tags-field .tag {
	float: left;
	margin: 0 15px 5px 0;
	width: 150px;
	background: #fff;
}
#tags-field .tag img {border: 0;}

.wmodal {
	position: absolute;
	display: none;
	z-index: 10;
}
.wmodal .shadow {
	background: #fff;
	position: absolute;
	z-index: 15;
}
.wmodal .body {
	background: #fff;
	border: 5px solid #FECE39;
	border-radius: 10px;
	z-index: 20;
	width: 400px;
	text-align: left;
	padding: 5px 15px;
}
.wmodal .close-btn {
	cursor: pointer;
}

.info-text {
	font-size: 0.9em;
	color: gray;
}
.catalog-field-list {
	clear: both;
	margin: 5px;
}
.catalog-field-list tr.odd {
	background: #f7f7f7;
	/*border-top: 1px dashed #d5d5d5;
	border-bottom: 1px dashed #d5d5d5;*/
}
.catalog-field-list .product-image {
	display: none;
	background: #fff;
	border: 1px solid #eee;
}
.catalog-field-list tr td a:link,
.catalog-field-list tr td a:visited {
	color: black;
}